<ion-header>
  <ion-toolbar>
    <ion-title>
      Bluetoothle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <h1>Bluetoothle Test</h1>  
    <ion-button (click)="scanBtle()" fill="outline" expand="block">Scan for SNPSHOT by sid
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button (click)="enableBtle()" fill="outline" expand="block">Enable Bluetooth
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button (click)="disableBtle()" fill="outline" expand="block">Disable Bluetooth
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button (click)="adaptInfo()" fill="outline" expand="block">Adapter Info
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button (click)="requestPermission()" fill="outline" expand="block">Request Android Permissions
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>    
    <ion-button (click)="bond()" fill="outline" expand="block">Bond to SNPShot
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>
    <ion-button (click)="unbond()" fill="outline" expand="block">Unbond
      <ion-icon class="" name="bluetooth"></ion-icon>
    </ion-button>    
  </div>
</ion-content>
