<ion-header>
  <ion-toolbar>
    <ion-title>
      Create New Batch
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <h1>Create Batch</h1>
    <ion-item>
      <ion-label position="floating">Id:</ion-label>
      <ion-input type="number" formControlName="id"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location:</ion-label>
      <ion-input
        type="text"
        formControlName="location"
        autocomplete
        autocorrect
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Short Description:</ion-label>
      <ion-input formControlName="description" type="text"></ion-input>
    </ion-item>
    <ion-buttons fill="block">
      <ion-button (click)="onCreate()" color="primary">Create</ion-button>
    </ion-buttons>
  </form>
</ion-content>
